<main id="main">
  <div id="carrito-container">
    <div id="block_01">
      <div class="product-container">
        <div class="carrito-imagen">
          <div class="lower-rect">
            <div style="background-image: url(../images/home/equipo.jpg);" class="image"></div>
          </div>
        </div>
        <div class="descripcion-container">
          <div class="carrito-producto-detalle">
            <img class="icon" src="/images/logos/adidas.png" />
            <div class="codigo">Cód.: PRX-56789-2</div>
            <div class="precio">$ 3.200,00</div>
            <div class="detalles">Hombre, Adulto, XL, Rojo</div>
          </div>
          <div class="carrito-marca-cantidad">
            <div class="borrar">
              <div class="centrar">X</div>
            </div>
            <div class="cantidad">Unidades</div>
            <div class="counter">
              <button class="upcount" type="button">+</button>
              <div class="count-value">1</div>
              <button class="dncount" type="button">-</button>
            </div>
          </div>
        </div>
      </div>

      <div class="product-container">
        <div class="carrito-imagen">
          <div class="lower-rect">
            <div style="background-image: url(../images/home/equipo.jpg);" class="image"></div>
          </div>
        </div>
        <div class="descripcion-container">
          <div class="carrito-producto-detalle">
            <img class="icon" src="/images/logos/adidas.png" />
            <div class="codigo">Cód.: PRX-56789-2</div>
            <div class="precio">$ 3.200,00</div>
            <div class="detalles">Hombre, Adulto, XL, Rojo</div>
          </div>
          <div class="carrito-marca-cantidad">
            <div class="borrar">
              <div class="centrar">X</div>
            </div>
            <div class="cantidad">Unidades</div>
            <div class="counter">
              <button class="upcount" type="button">+</button>
              <div class="count-value">1</div>
              <button class="dncount" type="button">-</button>
            </div>
          </div>
        </div>
      </div>

      <div class="product-container">
        <div class="carrito-imagen">
          <div class="lower-rect">
            <div style="background-image: url(../images/home/equipo.jpg);" class="image"></div>
          </div>
        </div>
        <div class="descripcion-container">
          <div class="carrito-producto-detalle">
            <img class="icon" src="/images/logos/adidas.png" />
            <div class="codigo">Cód.: PRX-56789-2</div>
            <div class="precio">$ 3.200,00</div>
            <div class="detalles">Hombre, Adulto, XL, Rojo</div>
          </div>
          <div class="carrito-marca-cantidad">
            <div class="borrar">
              <div class="centrar">X</div>
            </div>
            <div class="cantidad">Unidades</div>
            <div class="counter">
              <button class="upcount" type="button">+</button>
              <div class="count-value">1</div>
              <button class="dncount" type="button">-</button>
            </div>
          </div>
        </div>
      </div>

      <div class="product-container">
        <div class="carrito-imagen">
          <div class="lower-rect">
            <div style="background-image: url(../images/home/equipo.jpg);" class="image"></div>
          </div>
        </div>
        <div class="descripcion-container">
          <div class="carrito-producto-detalle">
            <img class="icon" src="/images/logos/adidas.png" />
            <div class="codigo">Cód.:: PRX-56789-2</div>
            <div class="precio">$ 3.200,00</div>
            <div class="detalles">Hombre, Adulto, XL, Rojo</div>
          </div>
          <div class="carrito-marca-cantidad">
            <div class="borrar">
              <div class="centrar">X</div>
            </div>
            <div class="cantidad">Unidades</div>
            <div class="counter">
              <button class="upcount" type="button">+</button>
              <div class="count-value">1</div>
              <button class="dncount" type="button">-</button>
            </div>
          </div>
        </div>
      </div>

      <div class="product-container">
        <div class="carrito-imagen">
          <div class="lower-rect">
            <div style="background-image: url(../images/home/equipo.jpg);" class="image"></div>
          </div>
        </div>
        <div class="descripcion-container">
          <div class="carrito-producto-detalle">
            <img class="icon" src="/images/logos/adidas.png" />
            <div class="codigo">Cód.:: PRX-56789-2</div>
            <div class="precio">$ 3.200,00</div>
            <div class="detalles">Hombre, Adulto, XL, Rojo</div>
          </div>
          <div class="carrito-marca-cantidad">
            <div class="borrar">
              <div class="centrar">X</div>
            </div>
            <div class="cantidad">Unidades</div>
            <div class="counter">
              <button class="upcount" type="button">+</button>
              <div class="count-value">1</div>
              <button class="dncount" type="button">-</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="container_02_03">
      <div id="block_02">
        <!-- ------------------------payment -->
        <form id="payment" action="/" method="POST">
          <div id="pay-1st-row">
            <div class="frm-title">TICKET</div>
            <div class="qty-items">3</div>
            <img id="cart" src="/images/icons/cart.png"></i>
          </div>
          <div class="subtotal">
            <label class="st-lbl1">Subtotal</label>
            <label class="st-lbl2">$ 5.600,00</label>
          </div>
          <div class="envio">
            <select id="cart-select" class="env-sel">
              <option value="envio">&nbsp;Envío</option>
              <option value="retira-sucursal">&nbsp;Retira en sucursal</option>
              <option value="ml-envio">&nbsp;Mercado Envío</option>
              <option value="oca-fast">&nbsp;OCA Postal Inmediato</option>
              <option value="oca-normal">&nbsp;OCA Postal Normal</option>
            </select>
            <label class="env-lbl">$600,00</label>
          </div>
          <div class="descuento">
            <label class="desc-lbl1">Descuento</label>
            <label class="desc-lbl2">$ -1.300,00</label>
          </div>
          <hr class="tot-line">
          <div class="total">
            <label class="tot-lbl1">Total</label>
            <label class="tot-lbl2">$ 6.300,00</label>
          </div>
          <button id="btn-pagar" type="submit">Pagar</button>
          <button id="btn-vaciar" type="reset">Vaciar carrito</button>
          <button id="btn-continuar" type="reset">Continuar comprando</button>
        </form>
      </div>
      <div id="block_03">
        <div class="txt-otros">Otros productos similares</div>
        <div id="grid-otros">
          <div class="otros1">
            <div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>
          </div>
          <div class="otros2">
            <div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>
          </div>
          <div class="otros3">
            <div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>
          </div>
          <div class="otros4">
            <div class="image" style="background-image: url(/images/sport/run-update-2021-500x356-2.webp);"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>