@import url('normalize.css');
/*
========================================================================================================================
HEADER
========================================================================================================================
*/
header {
    position: absolute;
    height: 145px;
    z-index: 100;
}
.back-template {
    position: fixed;
    z-index: 100;
    height: 145px;
    width: 100%;
    max-width: 600px;
    background-color: rgb(240, 240, 240);
}
.header-bar {
    background-color: #950000;
    width: 100%;
    height: 74px;
    max-width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.header-circle {
    position: fixed;
    background-image: url(/images/sportal_logo_000.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #950000;
    border-radius: 50%;
    width: 124px;
    z-index: 110;
    height: 124px;
    left: 20px;
}
.header-title {
    position: fixed;
    top: 95px;
    left: 140px;
    z-index: 110;
    font-size: 13px;
    color: #950000;
}
.header-options-login {
    display: flex;
    position: fixed;
    top: 120px;
    left: 140px;
    z-index: 110;
    width: 160px;
    margin-left: 0%;
}
.header-options-login form {
    display: flex;
}
/*
========================================================================================================================
MAIN
========================================================================================================================
*/
.cargaProducto {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 600px;
}
h2 {
    color: #950000;
    padding-left: 20px;
}
.nombre {
    padding: 20px;
    padding-bottom: 10px;
}
.cargaProducto input {
    margin-top: 10px;
    width: 80vw;
    max-width: 510px;
    height: 30px;
    border-radius: 10px;
}
.cargaProducto select {
    margin-top: 10px;
    width: 80vw;
    max-width: 510px;
}
.codigoProducto {
    padding: 20px;
    padding-bottom: 10px;
}
.descripcion {
    padding: 20px;
    padding-bottom: 10px;
}
.descripcion textarea {
    margin-top: 10px;
    width: 80vw;
    max-width: 510px;
    border-radius: 10px;
}
.descripcion ::placeholder {
    padding: 10px;
}
.precio {
    padding: 20px;
    padding-bottom: 10px;
}
.edad {
    padding: 20px;
    padding-bottom: 10px;
}
.sexo {
    padding: 20px;
    padding-bottom: 10px;
}
.color {
    padding: 20px;
    padding-bottom: 10px;
}
.marca {
    padding: 20px;
    padding-bottom: 10px;
}
.img-principal {
    padding: 20px;
    padding-bottom: 10px
}
.img-secundarias {
    padding: 20px;
    padding-bottom: 10px
}
.buttons {
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
}
.accept-button {
    background-color: #950000;
    color: #b0b0b0;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    transition: color 250ms;
}
.accept-button:hover {
    color: white;
}
.cancel-button {
    background-color: #950000;
    color: #b0b0b0;
    border-radius: 15px;
    width: 140px;
    height: 40px;
    transition: color 250ms;
}
.cancel-button:hover {
    color: white;
}