@import url("normalize.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: rgb(240, 240, 240);
  }
/*
========================================================================================================================
HEADER
========================================================================================================================
*/
.header-bar {
    background-color: #950000;
    width: 100%;
    height: 74px;
    max-width: 400px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.header-circle {
    position: relative;
    background-image: url(/images/sportal_logo_000.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #950000;
    border-radius: 50%;
    width: 124px;
    height: 124px;
    left: -137px;
}
.header-title {
    position: relative;
    top: -45px;
    left: 150px;
    font-size: 15px;
    color: #950000;
}
/*
========================================================================================================================
MAIN
========================================================================================================================
*/
main {
    width: 100%;
    max-width: 400px;
    font-weight: bold;
}
.form-login {
    padding: 17px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    max-width: 400px;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-login-check {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 0px 0px;
}
.form-login-check-bar {
    width: 100%;
    display: flex;
    margin: 10px;
}
.form-login-check i {
    margin-left: 10px;
    font-size: 3em;
    font-weight: 10px;
}
.form-login-check-restore {
    margin-top: -25px;
    margin-right: 0px;
    font-size: 12px;
}
.restore-button {
    font-weight: bold;
    color: #950000;
}
.form-login form {
    display: flex;
    flex-direction: column;
}
.form-login form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #950000;
}
.input-login {
    border-radius: 5px;
    width: 67vw;
    height: 30px;
    max-width: 350px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.login-buttons {
    margin: 30px 0px 0px 0px;
    width: 100%;
}
.login-to-register {
    width: 40%;
    margin: -20px 0px 5px 10px;
}
.register-button {
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100%;
}
.login-buttons-login-button {
    margin: 10px;
    width: 40%;
}
.login-button {
    position: relative;
    height: 40px;
    border-radius: 10px;
    background-color: #950000;
    color: white;
    font-weight: bold;
    margin: 5px 0px;
    width: 100%;
    top: 100px;
    left: 190px;
}
/*
========================================================================================================================
MAIN
========================================================================================================================
*/
@media (min-width: 400px) {
    .input-login {
        width: 300px;
    }
}