#main {
  width: 100%;
  overflow: scroll;
  --image-size: 135px;
  --viewport: 100vw;
}

#carrito-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/* -----------------------------productos */
#block_01 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: fit-content;
}

.product-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(var(--image-size) + 20px);
  background-color: white;
  border-top: 1px solid #707070;
  min-width: 360px;
}
.carrito-imagen {
  display: inline-block;
  width: var(--image-size);
  height: var(--image-size);
  background-color: white;
  margin: 10px 10px 10px 10px;
}
.lower-rect {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 20px;
}
.image {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}
.carrito-producto-detalle {
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: white;
  padding: 10px;
  font-size:15px;
}
.carrito-marca-cantidad {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  width: 30%;
  height: 100%;
  background-color: white;
  padding: 10px;
}
.descripcion-container {
  display: flex;
  flex-direction: row;
  width: calc(100% - var(--image-size));
  height: 100%;
  line-height: 1.4em;
}

.codigo {
  grid-area: gi-codigo;
  margin: 0;
  color: #950000;
  font-weight: 800;
}

.precio {
  grid-area: gi-precio;
  font-weight: 300;
  color: #950000;
}
.detalles {
  grid-area: gi-precio;
  font-size: 14px;
  font-weight: 300;
  color: #707070;
}

.icon {
  width: 3.5em;
}
.cantidad {
  font-weight: 300;
  margin-top: auto;
}
.centrar {
  top: -1px;
  position: relative;
}
.borrar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: #707070 1px solid;
  color: #707070;
  font-weight: 300;
  padding: 1px;
  text-align: center;
}

.counter {
  display: flex;
  font-size: 14;
  font-weight: bold;
  width: 70px;
  height: 30px;
  padding: 1px;
  color: #950000;
  background-color: white;
  margin-left: 10px;
}

.upcount {
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: auto;
  margin-left: 3px;
  transition: background-color 0.2s;
}

.upcount:hover {
  background-color: #707070;
}

.count-value {
  padding: 3px;
}

.dncount {
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: auto;
  margin-right: 3px;
  transition: background-color 0.2s;
}

.dncount:hover {
  background-color: #707070;
}

/* -----------------------------payment */
#block_02 {
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 0 10px;
}
#payment {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 1em;
  color: #707070;
  line-height: 2.5em;
  max-width: 450px;
}
#pay-1st-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  color: #950000;
}
.qty-items {
  margin-left: auto;
}

#cart {
  width: 1.2em;
  height: 1.2em;
  filter: invert(7%) sepia(84%) saturate(6708%) hue-rotate(359deg)
    brightness(89%) contrast(107%);
  margin: 0 0 0 5px;
}

.subtotal,
.envio,
.descuento,
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  color: #950000;
}
.total {
  font-weight: 800;
}

#cart-select,
#btn-continuar,
#btn-vaciar {
  height: 2em;
  border: #707070 1px solid;
  border-radius: 20px;
  color: #707070;
  background-color: white;
  padding-bottom: 3px;
}
#cart-select {
  position: relative;
  top: 4px;
  left: -5px;
  color: #950000;
}
#btn-pagar,
#btn-continuar,
#btn-vaciar {
  margin: 5px 0 5px 0;
}
#btn-pagar {
  color: white;
  background-color: #950000;
  border: #950000 1px solid;
  border-radius: 20px;
  height: 2em;
}
.tot-line {
  width: 100%;
  height: 0;
  display: block;
  border: none;
  border-bottom: 1px solid #707070;
}

/* ------------------------otros productos */
#block_03 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: fit-content;
  max-width: 450px;
  margin: 0 auto;
}

#grid-otros {
  --frame: minmax(100px, 175px);
  display: grid;
  grid-template-columns: var(--frame) var(--frame);
  grid-template-rows: var(--frame) var(--frame);
  grid-template-areas:
    "otros1 otros2"
    "otros3 otros4";
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
}
.image {
  width: 100%;
  height: 100%;
  max-width: 225px;
  max-height: 225px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(/images/sport/run-update-2021-500x356-2.webp);
  background-position: center;
  background-size: cover;
}

.txt-otros {
  text-align: center;
  font-size: 18px;
  color: #950000;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top:10px
}

.otros1 {
  padding: 10px;
  grid-area: otros1;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.otros2 {
  width: 100%;
  height: 100%;
  padding: 10px;
  grid-area: otros2;
  border-bottom: 1px solid #707070;
}

.otros3 {
  width: 100%;
  height: 100%;
  padding: 10px;
  grid-area: otros3;
  border-right: 1px solid #707070;
}

.otros4 {
  width: 100%;
  height: 100%;
  padding: 10px;
  grid-area: otros4;
}
@media (min-width: 800px){
  #carrito-container {
    display: flex;
    flex-direction: row;
  }
  #block_01 {
    height: fit-content;
  }
  #block_03 {
    display: none;
  }
  .txt-otros{
    margin-top: 0;
  }
  #payment {
    margin-top: 0;
  }
}
@media (min-width: 1000px){
  #block_03 {
    display: block;
  }
}