#main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header-search-box-producto {
    width: 45%;
    background-color: white;
    border-radius: 0 28px 28px 0;
    border: none;
    position: fixed;
    left: 86px;
    top: 74px;
    z-index: -1;
  }
  .header-search-box-producto input {
    border: none;
    width: 55%;
    height: 56px;
    left: 50px;
    position: relative;
    outline: none;
  }
  .home-menu {
    color: #950000;
    position: relative;
    display: block;
    left: 20px;
    z-index: 10;
    width: 100%;
    margin: auto;
    height: auto;
    max-width: 1200px;
  }
  .home-menu a{  
    text-decoration: none;
    color:#950000;
  }
  .header-menu-list{
    display: none;
    position: fixed;
    top: 93px;
    right: 65px;
  }
  header ul {
    display: flex;
    list-style: none;
    font-size: 14px;
  }
  header li {
    padding-right: 5px;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  .product-items {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    padding: 5px;
    max-width: 1200px;
  }
  .product-items h3 {
    color: #950000;
  }
  .product-images {
    display: flex;
    flex-direction: column-reverse;
  }
  .product-image-angles {
    display: flex;
    height: auto;
    padding: 5px;
    margin: auto;
    border-bottom: 1px solid #888;
  }
  .product-image-angles .image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 5px;
  }
  .principal-image {
    border-bottom: 1px solid #888;
    padding: 5px;
    text-align: center;
  }
  .principal-image .image {
    width: 340px;
    height: 340px;
    margin: 5px auto;
    border-radius: 10px;
  }
  .product-description {
    padding: 5px;
    width: 340px;
    border-bottom: solid 1px #888;
    margin: auto;
  }
  .description-text{
    font-size: 12px;
    margin: 10px;
  }
  .desc-title {
    display: flex;
    align-items: center;
    margin: 0px 10px 10px 10px;
  }
  .desc-title img {
    width: 80px;
    margin-right: 10px;
  }
  .desc-title h3 {
    width: 130px;

  }
  .product-desc-price {
    margin-right: 10px;
  }
  .product-description form {
    margin: 10px;
  }
  .description-options {
    display: flex;
    flex-wrap: wrap;
  }
  .description-options div {
    margin-left: 0%;
    margin-top: 10px;
  }
  .option-title {
    display: flex;
    flex-direction: column;
    color: #950000;
  }
  .description-bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .desc-socials {
    color: #707070;
    font-size: 2em;
    margin-left: 0px;
  }
  .desc-button {
    margin-right: 0px;
    display: flex;
    align-items: center;
  }
  .desc-button a{
    text-decoration: none;
    color: #950000;
    font-size: 4em;
    margin-left: 5px;
  }
  .similar-products {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .similar-products h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  .similar-products-1line {
    display: flex;
    border-bottom: solid 1px #888;
  }
  .similar-products-2line {
    display: flex;
  }
  .similar-products-1line img {
    width: 160px;
    height: 160px;
    margin: 5px;
    border-radius: 10px;
  }
  .image-left {
    border-right: solid 1px #888;
  }
  .similar-products-2line img {
    width: 160px;
    height: 160px;
    margin: 5px;
    border-radius: 10px;
  }
  /*
  ========================================================================================================================
  MEDIA QUERIES
  ========================================================================================================================
  */
  @media (min-width: 768px){
    .product-items {
      flex-direction: row;
    }
    .product-images {
      flex-direction: row;
    }
    .product-image-angles {
      flex-direction: column;
      border-bottom: none;
      border-right: 1px solid #888;
      align-self: flex-start;
      margin: 0;
    }
    .product-image-angles .image {
      width: 78px;
      height: 78px;
    }
    .principal-image {
      border-bottom: none;
      border-right: 1px solid #888;
    }
    .product-description {
      height: 363px;
      border-bottom: none;
      margin: 0;
      justify-content: flex-start;
    }
    .similar-products {
      display: none;
    }
  }
  @media (min-width: 1200px) {
    .product-image-angles {
      align-self: flex-start;
      margin: 0;
    }

    .similar-products {
      display: flex;
    }
    .product-description {
      border-right: 1px solid #888;
      width: 35%;
      align-self: flex-start;
    }
    .desc-title h3 {
      width: 50%;
    }
  }