@import url("normalize.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: rgb(240, 240, 240);
  }
/*
========================================================================================================================
HEADER
========================================================================================================================
*/
header {
    position: absolute;
    height: 145px;
    z-index: 100;
}
.back-template {
    position: fixed;
    z-index: 100;
    height: 145px;
    width: 100%;
    max-width: 600px;
    background-color: rgb(240, 240, 240);
}
.header-bar {
    background-color: #950000;
    width: 100%;
    height: 74px;
    max-width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.header-circle {
    position: fixed;
    background-image: url(/imgs/sportal_logo_000.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #950000;
    border-radius: 50%;
    width: 124px;
    z-index: 110;
    height: 124px;
    left: 20px;
}
.header-title {
    position: fixed;
    top: 95px;
    left: 140px;
    z-index: 110;
    font-size: 13px;
    color: #950000;
}
.header-options-login {
    display: flex;
    position: fixed;
    top: 120px;
    left: 140px;
    z-index: 110;
    width: 160px;
    margin-left: 0%;
}
.header-options-login form {
    display: flex;
}
/*
========================================================================================================================
MAIN
========================================================================================================================
*/
main {
    position: absolute;
    top: 145px;
    width: 100%;
    max-width: 600px;
    font-weight: bold;
}
.pass-advice{
    color: #888;
    margin-left: 30px;
    font-size: 13px;
}
.form-register {
    padding: 10px;
}
.form-register-check {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
.form-register-check-bar {
    width: 100%;
    display: flex;
    margin: 10px;
}
.form-register-check-bar-user {
    display: flex;
    margin: 10px 15px;
}
.form-register-check-bar-user i {
    margin: 5px 0px;
}
.form-register-check-bar-user label {
    margin-left: 0px;
    margin-right: 6px;
}
.form-register-check-bar-top {
    width: 100%;
    display: flex;
    margin: 10px;
}
.form-register-check i {
    margin-left: 10px;
    font-size: 3em;
    font-weight: 10px;
}
.form-register form {
    display: flex;
    flex-direction: column;
}
.form-register form label {
    display: flex;
    flex-direction: column;
    color: #950000;
}
.input-register {
    border-radius: 50px;
    width: 70vw;
    height: 30px;
    max-width: 435px;
    margin-top: 10px;
}
.form-register-check-divided {
    display: flex;
    flex-direction: column;
}
.login-to-register {
    display: flex;
    margin: 5px 0px;
    color: #888;
    margin-left: 20px;
}
.login-to-register label {
    margin: 10px;
    width: 100%;
}
.register-button {
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    background-color: #950000;
    color: white;
    font-weight: bold;
    width: 100%;
}
.login-to-register i {
    margin-top: 12px;
    font-size: 20px;
}
/*
========================================================================================================================
MEDIA
========================================================================================================================
*/
@media (min-width: 600px) {
    .form-register-check-divided .input-register {
        width: 35vw;
        max-width: 190px;
    }
    .form-register-check-divided {
        flex-direction: row;
    }
    .input-register {
        width: 80vw;
        max-width: 475px;
    }
    .form-register-check-bar-user label {
        margin-left: 5px;
    }
    .header-options-login {
        top: 95px;
        left: 400px;
    }
}