#container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    /* breadrumb 90px puesto */
    grid-template-rows: 266px 90px 1fr 60px;
}

@media (min-width:600px) {
    #container {
        /* breadrumb 50px puesto */
        grid-template-rows: 266px 50px 1fr 60px;
    }
}



#main,
#footer {
    display: block;
}