<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/login.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    <title>Sportal - Portal para Guerreros Urbanos</title>
</head>
<body>
    <header>
        <div class="header-bar"></div>
        <div class="header-circle"></div>
        <div class="header-title"><h3>Ingresar a tu cuenta</h3></div>
        <div class="header-options-login">
            <form action="option">
                <div><label for="red-social">Red Social<input type="radio" name="opcion-login" id="red-social" value="red-social"></label></div>
                <div><label for="email"><input type="radio" name="opcion-login" id="email" value="email">e-mail</label></div>
            </form>
        </div>
    </header>
    <main>
        <div class="form-login">
            <form action="#login" method="GET">
                <div class="form-login-check">
                    <div class="form-login-check-bar">
                    <label for="usuario">e-mail<input class="input-login" type="text" name="usuario" id="usuario"></label>
                    <i class="fas fa-check"></i>
                    </div>
                    <div class="form-login-check-restore">
                        <a href="/user-restore">NO RECUERDO MI USUARIO</a>
                    </div>
                </div>
                <div class="form-login-check">
                    <div class="form-login-check-bar">
                        <label for="password">Contraseña<input class="input-login" type="text" name="password" id="password"></label>
                        <i class="fas fa-check"></i>
                    </div>
                    <div class="form-login-check-restore">
                        <a href="/pass-restore">NO RECUERDO MI CONTRASEÑA</a>
                    </div>
                </div>
            </form>
            <div class="e-mail-confirmed">
                <div class="e-mail-confirmed-check">
                    <label class="e-mail-confirmed-check">e-mail confirmado</label>
                    <i class="far fa-times-circle"></i>
                </div>
                <div class="e-mail-confirmed-tip">
                    <label class="e-mail-confirmed-tip">Revisá tu mail y confirmá tu cuenta</label>
                </div>
            </div>
            <div class="login-buttons">
                <div class="login-to-register">
                    <label>Si no tenés un usuario ingresá tus datos aquí</label>
                    <a href="/registro" target="_self"><button class="register-button">REGISTRATE</button></a>
                </div>
                <div class="login-buttons-login-button">
                    <button class="login-button">INGRESAR</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>