    <%- include("./partials/head.ejs") %>
    <link href="./stylesheets/register.css" rel="stylesheet" />
    <title>Sportal - Portal para Guerreros Urbanos</title>
</head>
<body>
    <header>
        <div class="back-template">
            <div class="header-bar">
                <div class="header-circle"></div>
                <div class="header-title"><h3>Registrá tu cuenta</h3></div>
            </div>
        </div>
    </header>
    <main>
        <div class="form-register">
            <form action="/users/create" method="POST">
                <div class="form-register-check-top">
                    <div class="form-register-check-bar-user">
                        <label for="usuario">e-mail<input class="input-register" type="text" name="usuario" id="usuario"></label>
                    </div>
                </div>
                
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="password">Contraseña<input class="input-register" type="password" name="password" id="password"></label>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="checkPassword">Repetir contraseña<input class="input-register" type="password" name="checkPassword" id="checkPassword"></label>
                        </div>
                    </div>
                </div>
                
                <div class="pass-advice">
                    <p>Mayúsculas, minúsculas, un número y al menos un símbolo</p>
                </div>
                
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="nombre">Nombre<input class="input-register" type="text" name="nombre" id="nombre"></label>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="apellido">Apellido<input class="input-register" type="text" name="apellido" id="apellido"></label>
                        </div>
                    </div>
                </div>
                
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="dni">DNI<input class="input-register" type="number" name="dni" id="dni"></label>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="celular">Celular<input class="input-register" type="number" name="celular" id="celular"></label>
                        </div>
                    </div>
                </div>

                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="direccion">Dirección de Envío<input class="input-register" type="text" name="direccion" id="direccion"></label>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                            <label for="cp">Código postal<input class="input-register" type="number" name="cp" id="cp"></label>
                        </div>
                    </div>
                </div>

                <div class="form-register-check-loc">
                    <div class="form-register-check-bar-top">
                        <label for="localidad">Localidad<input class="input-register" type="text" name="localidad" id="localidad"></label>
                    </div>
                </div>

                <div class="login-to-register">
                    <i class="fas fa-info-circle"></i>
                    <label>Acepto los término y condiciones y las políticas de privacidad</label>
                    <button class="register-button" type="submit">REGISTRATE</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>