<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/register.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    <title>Sportal - Portal para Guerreros Urbanos</title>
</head>
<body>
    <header>
        <div class="back-template">
        <div class="header-bar"></div>
        <div class="header-circle"></div>
        <div class="header-title"><h3>REGISTRÁ TU CUENTA</h3></div>
        <div class="header-options-login">
            <form action="option">
                <div><label for="red-social">Red Social<input type="radio" name="opcion-login" id="red-social" value="red-social"></label></div>
                <div><label for="email"><input type="radio" name="opcion-login" id="email" value="email">e-mail</label></div>
            </form>
        </div>
        </div>
    </header>
    <main>
        <div class="form-register">
            <form action="#registro" method="GET">
                <div class="form-register-check">
                    <div class="form-register-check-bar-user">
                    <label for="usuario">e-mail<input class="input-register" type="text" name="usuario" id="usuario"></label>
                    <i class="fas fa-check"></i>
                    </div>
                </div>
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                            <label for="contraseña">Contraseña<input class="input-register" type="password" name="contraseña" id="contraseña"></label>
                            <i class="fas fa-check"></i>
                        </div>
                        <div>
                            <label></label>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                        <label for="repetir-contraseña">Repetir contraseña<input class="input-register" type="password" name="repetir-contraseña" id="repetir-contraseña"></label>
                        <i class="fas fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="pass-advice">
                    <p>Mayúsculas y minúsculas, número y al menos un símbolo<p>
                </div>
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                        <label for="nombre">Nombre<input class="input-register" type="text" name="nombre" id="nombre"></label>
                        <i class="fas fa-check"></i>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                        <label for="apellido">Apellido<input class="input-register" type="text" name="apellido" id="apellido"></label>
                        <i class="fas fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                        <label for="dni">DNI<input class="input-register" type="number" name="dni" id="dni"></label>
                        <i class="fas fa-check"></i>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                        <label for="celular">Celular<input class="input-register" type="number" name="celular" id="celular"></label>
                        <i class="fas fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="form-register-check-divided">
                    <div class="form-register-check">
                        <div class="form-register-check-bar-top">
                        <label for="dirección">Dirección de envío<input class="input-register" type="text" name="dirección" id="dirección"></label>
                        <i class="fas fa-check"></i>
                        </div>
                    </div>
                    <div class="form-register-check">
                        <div class="form-register-check-bar">
                        <label for="cp">Código postal<input class="input-register" type="number" name="cp" id="cp"></label>
                        <i class="fas fa-check"></i>
                        </div>
                    </div>
                </div>
            </form>
            <div class="login-to-register">
                <i class="fas fa-info-circle"></i>
                <label>Acepto los término y condiciones y las políticas de privacidad</label>
                <button class="register-button">REGISTRATE</button>
            </div>
        </div>
    </main>
</body>
</html>