<!-- breadcrumb-------------------------------------------------------------- -->
<nav id="breadcrumb">
<<<<<<< HEAD
    <span id="breadcrumb-span"><a id="breadcrumb-link" href="/" target="_self" rel="noopener noreferrer"><img
                src="images/icons/home.png" alt="home"></a> > Calzado</span>
=======
    <span id="breadcrumb-span">
        <a id="breadcrumb-link" href="/" target="_self" rel="noopener noreferrer">
            <img src="images/icons/home.png" alt="home">
        </a>
         > <%= misc.heading %> >
    </span>
>>>>>>> 2358f897ee833550427c523394d5b7856d466140

    <div id="breadcrumb-selectors">
        <div id="filtering">
            <div id="filter-title">Filtrar: </div>
            <select id="filter-options" name="cat-filter">
                <option value="">por edad y sexo</option>
                <option value="adulto-hombre">Adulto - Hombre</option>
                <option value="adulto-mujer">Adulto - Mujer</option>
                <option value="ninos-hombre">Niños - Hombre</option>
                <option value="ninos-mujer">Niños - Hombre</option>
            </select>
        </div>
        <div id="sorting" name="cat-sort">
            <div id="sort-title">Ordenar: </div>
            <select id="sort-options">
                <option value="">por precio</option>
                <option value="mayor-precio">Mayor precio</option>
                <option value="menor-precio">Menor precio</option>
                <option value="mas-vendido">Mas vendido</option>
                <option value="ofertas">Ofertas</option>
            </select>
        </div>
    </div>
</nav>