<!-- FOOTER-------------------------------------------------------------------------------- -->
<footer id="footer">
    <div id="footer-bar">
        <a class="info" href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-info"></i>
        </a>
        <div id="footer-icons">
            <a href="https://web.telegram.org" target="_blank"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/iniciarsesion?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://es-la.facebook.com/login/device-based/regular/login/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>

    </div>
</footer>
</div>
</body>
</html>