<title>Sportal - Portal para Guerreros Urbanos</title>
</head>

<body>
    <div id="container">

        <!-- HEADER--------------------------------------------------------- -->
        <header id="header">
            <div id="header-upper"></div>
            <div id="header-banner"></div>
            <div id="header-circle"></div>
            
            <% if (locals.logueado) { %>
                <a id="header-login" href="/profile">Profile
                    <i class="far fa-user-circle"></i>
                </a>
            <% } else { %>
                <a id="header-login" href="/login">Login
                    <i class="far fa-user-circle"></i>
                </a>
            <% } %>

            <div id="header-search-fill"></div>

            <div id="header-search-box">
                <form action="/search" method="GET">
                    <input class="header-search-input" type="text" name="search-string"
                        placeholder="Ingrese su búsqueda" autocomplete="false">
                </form>

            </div>

            <i id="header-glass" class="fas fa-search"></i>
            <nav id="header-menu">
                <ul class="header-menu">
                    <li><a href="/productos/basicos">Básicos</a></li>
                    <li><a href="/productos/calzado">Calzado</a></li>
                    <li><a href="/productos/equipo">Equipo</a></li>
                    <li><a href="/productos/carga">Carga</a></li>
                    <li><a href="/productos/agua">Agua</a></li>
                    <li><a href="/productos/tech">Tech</a></li>
                    <li><a href="/productos/portatiles">Portátiles</a></li>
                    <li><a href="/productos/electro">Electro</a></li>
                </ul>
            </nav>

            <a id="header-sandwich" href="" target="_self"><i class="fas fa-bars"></i></a>




        </header>