<title>Sportal - Portal para Guerreros Urbanos</title>
</head>

<body>
    <div id="container">

        <!-- HEADER--------------------------------------------------------- -->
        <header id="header">
            <div id="header-upper"></div>
            <div id="header-banner"></div>
            <div id="header-circle"></div>

            <a id="header-login" href="/login">Login
                <i class="far fa-user-circle"></i>
            </a>

            <div id="header-search-fill"></div>

            <div id="header-search-box">
                <form action="/search" method="GET">
                    <input class="header-search-input" type="text" name="search-string"
                        placeholder="Ingrese su búsqueda" autocomplete="false">
                </form>

            </div>

            <i id="header-glass" class="fas fa-search"></i>
            <nav id="header-menu">
                <ul class="header-menu">
                    <li><a>Básicos</a></li>
                    <li><a>Calzado</a></li>
                    <li><a>Equipo</a></li>
                    <li><a>Carga</a></li>
                    <li><a>Agua</a></li>
                    <li><a>Tech</a></li>
                    <li><a>Portátiles</a></li>
                    <li><a>Electro</a></li>
                </ul>
            </nav>

            <a id="header-sandwich" href="" target="_self"><i class="fas fa-bars"></i></a>




        </header>