<main id="main">
    <div id="main-container">

        <% let productsQuant = 15; for (i=0; i<productsQuant; i++){ %>
        <div class="item <%= (Math.random()>0.6 & Math.random()>0.4 )? "large" : "" %> >">
            <div class="cell">
                <a href="/producto" target="_self">
                    <div class="pict" style="background-image: url(images/sport/run-update-2021-500x356-2.webp);">
                    </div>
                </a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="description-bottom">
                        <img class="icon" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url(images/logos/logo_nike_principal.png);">
                        <div class="icon-info">
                            <div class="precio">$ 3.200,00</div>
                            <a href="http://" target="_blank" rel="noopener noreferrer"><i
                                    class="info fas fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>


    </div>

</main>