<main id='main'>

  <div class="grid-big">
    <div class="grid-buy">
      <div class="art1">
        <div class="lower-rect">
          <div class="image"></div>
        </div>
      </div>
      <div class="grid-item1">
        <div class="codigo">Código: PRX-56789-2</div>
        <div class="precio">$ 3.200,00</div>
        <img class="icon" src="/images/logos/logoadidas.png">
        <div class="counter">
          <button class="upcount" type="button">+</button>
          <div class="count-value">1</div>
          <button class="dncount" type="button">-</button>
        </div>
        <div></div>
        <!--Celda vacia-->
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info informes"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-trash"></i></a>
      </div>

      <div class="art2">
        <div class="lower-rect">
          <div class="image"></div>
        </div>
      </div>
      <div class="grid-item2">
        <div class="codigo">Código: ABX-56789-2</div>
        <div class="precio">$ 7.400,00</div>
        <img class="icon" src="/images/logos/logotopper2.png">
        <div class="counter">
          <button class="upcount" type="button">+</button>
          <div class="count-value">1</div>
          <button class="dncount" type="button">-</button>
        </div>
        <div></div>
        <!--Celda vacia-->
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info informes"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-trash"></i></a>
      </div>

      <div class="art3">
        <div class="lower-rect">
          <div class="image"></div>
        </div>
      </div>
      <div class="grid-item3">
        <div class="codigo">Código: PAX-56789-2</div>
        <div class="precio">$ 13.800,00</div>
        <img class="icon" src="/images/logos/logoasics2.png">
        <div class="counter">
          <button class="upcount" type="button">+</button>
          <div class="count-value">1</div>
          <button class="dncount" type="button">-</button>
        </div>
        <div></div>
        <!--Celda vacia-->
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-info informes"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fas fa-trash"></i></a>
      </div>
    </div>

    <form class="payment" action="/" method="POST">
      <div class="frm-title">TICKET</div>
      <div class="qty-items">3</div>
      <i class="fas fa-shopping-cart"></i>
      <div class="subtotal">
        <label class="st-lbl1">Subtotal</label>
        <label class="st-lbl2">$ 5.600,00</label>
      </div>
      <div class="envio">
        <select class="env-sel">
          <option value="envio">Envío</option>
          <option value="retira-sucursal">Retira en sucursal</option>
          <option value="ml-envio">Mercado Envío</option>
          <option value="oca-fast">OCA Postal Inmediato</option>
          <option value="oca-normal">OCA Postal Normal</option>
        </select>
        <label class="env-lbl">$600,00</label>
      </div>
      <div class="descuento">
        <label class="desc-lbl1">Descuento</label>
        <label class="desc-lbl2">$ -1.300,00</label>
      </div>
      <div class="tot-line">____________________________________</div>
      <div class="total">
        <label class="tot-lbl1">Total</label>
        <label class="tot-lbl2">$ 6.300,00</label>
      </div>
      <button class="btn-pagar" type="submit">Pagar</button>
      <button class="btn-vaciar" type="reset">Vaciar carrito</button>
      <button class="btn-continuar" type="reset">Continuar comprando</button>
    </form>

    <div class="grid-txt-otros">
      <div class="txt-otros">Otros productos similares</div>
      <div class="grid-otros">
        <div class="otros1">
          <div class="lower-otr">
            <img class="image" src="/images/sport/run-update-2021-500x356-2.webp">
          </div>
        </div>
        <div class="otros2">
          <div class="lower-otr">
            <div class="image"></div>
          </div>
        </div>
        <div class="otros3">
          <div class="lower-otr">
            <div class="image"></div>
          </div>
        </div>
        <div class="otros4">
          <div class="lower-otr">
            <div class="image"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>