<main id="main">
    <div id="main-container">
        <!--Calzado-->
        <a href="/productos/2" target="_self" class="link-cat link01">
            <div class="item-cat">
                <div class="pict">Calzado</div>
            </div>
        </a>
        <!--Equipo-->
        <a href="/productos/3" target="_self" class="link-cat link02">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/equipo.jpg);"                               
                class="pict">Equipo</div>
            </div>
        </a>
        <!--Carga-->
        <a href="/productos/4" target="_self" class="link-cat link03">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/carga.webp);"                
                class="pict">Carga</div>
            </div>
        </a>
        <!--Basicos-->
        <a href="/productos/1" target="_self" class="link-cat link04">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/basics.jpg);background-position: bottom;" 
                class="pict">Básicos</div>
            </div>
        </a>
        <!--Agua-->
        <a href="/productos/8" target="_self" class="link-cat link05">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/agua.webp);" 
                class="pict">Agua</div>
            </div>
        </a>
        <!--Portatiles-->
        <a href="/productos/5" target="_self" class="link-cat link06">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/portatiles.jpg);" 
                class="pict">Portátiles</div>
            </div>
        </a>
        <!--Electro-->
        <a href="/productos/7" target="_self" class="link-cat link07">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/electro.webp);" 
                class="pict">Electro</div>
            </div>
        </a>
        <a href="/productos/ofertas" target="_self" class="link-cat link08">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/sale.jpg);" 
                class="pict">Ofertas</div>
            </div>
        </a>
        <a href="/productos/saldos" target="_self" class="link-cat link09">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/saldo.jpg);" 
                class="pict">Saldos</div>
            </div>
        </a>
        <a href="/productos/novedades" target="_self" class="link-cat link10">
            <div class="item-cat">
                <div style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/home/novedades.jpg);" 
                class="pict">Novedades</div>
            </div>
        </a>
    </div> 
</main>