<main id="main">
    <div id="main-container">

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="cell">
                <a href="/producto" target="_self"><div class="pict"></div></a>
                <div class="producto-ficha">
                    <div class="description">Producto de ejemplo cualquiera</div>
                    <div class="precio">$ 3.200,00</div>
                    <div class="icon-info">
                        <img class="icon" src="images/logos/logoadidas.png">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="info fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</main>