<main id="main">
    <div id="main-container">
        <a href="/productos/calzado" target="_self" class="link-cat link01">
            <div class="item-cat">
                <div class="pict">Calzado</div>
            </div>
        </a><a href="/productos/equipo" target="_self" class="link-cat link02">
            <div class="item-cat">
                <div class="pict">Equipo</div>
            </div>
        </a><a href="/productos/carga" target="_self" class="link-cat link03">
            <div class="item-cat">
                <div class="pict">Carga</div>
            </div>
        </a><a href="/productos/basicos" target="_self" class="link-cat link04">
            <div class="item-cat">
                <div class="pict">Básicos</div>
            </div>
        </a><a href="/productos/agua" target="_self" class="link-cat link05">
            <div class="item-cat">
                <div class="pict">Agua</div>
            </div>
        </a><a href="/productos/portatiles" target="_self" class="link-cat link06">
            <div class="item-cat">
                <div class="pict">Portátiles</div>
            </div>
        </a><a href="/productos/electro" target="_self" class="link-cat link07">
            <div class="item-cat">
                <div class="pict">Electro</div>
            </div>
        </a><a href="/productos/ofertas" target="_self" class="link-cat link08">
            <div class="item-cat">
                <div class="pict">Ofertas</div>
            </div>
        </a><a href="/productos/saldos" target="_self" class="link-cat link09">
            <div class="item-cat">
                <div class="pict">Saldos</div>
            </div>
        </a><a href="/productos/novedades" target="_self" class="link-cat link10">
            <div class="item-cat">
                <div class="pict">Novedades</div>
            </div>
        </a>
    </div> 
</main>