<main id='main'>
    <div id="container">
        <div id="container-thumbnails">
            <div class="thumbnail" style="background-image: url(images/sport/run-update-2021-500x356-2.webp);"></div>
            <div class="thumbnail" style="background-image: url(images/sport/run-update-2021-500x356-2.webp);"></div>
            <div class="thumbnail" style="background-image: url(images/sport/run-update-2021-500x356-2.webp);"></div>
            <div class="thumbnail" style="background-image: url(images/sport/run-update-2021-500x356-2.webp);"></div>
        </div>
        <div id="divider01v"></div>
        <div id="container-pict" style="background-image: url(images/sport/run-update-2021-500x356-2.webp);"></div>
        <div id="divider01v"></div>
        <div id="container-description">
            <div id="firstBlock">
                <div id="logo" style="background-image: url(images/logos/adidas.png);"></div>
                <div id="productDescription">
                    <span id="productName"> Nombre del producto</span>
                    <span id="productPrice"> $ 3.000,15</span>
                </div>
            </div>
            <p id="secondBlock">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat exercitationem aliquid deleniti ut 
                nisi dolorum dicta ea maiores dolorem error reiciendis accusamus inventore fugiat architecto suscipit vero, porro aperiam
            </p>
            <form action="/#" method="GET" class="description-options">
                <div>
                    <label class="option-title" for="sexo">Sexo</label>
                    <label class='content-input' for="sexo"></label><input class='checkbox' type="radio" name="sexo" id="sexo" value="M">M<i></i></label>
                    <label class='content-input' for="sexo"></label><input class='checkbox' type="radio" name="sexo" id="sexo" value='F'>F<i></i></label>
                </div>
                <div>
                    <label class="option-title" for='edad'>Edad</label>
                    <input type="radio" name="edad" id="edad" value="adulto"><label for="edad">Adulto</label>
                    <input type="radio" name="edad" id="edad" value="niño"><label for="edad">Niño</label>
                </div>
                <div>
                    <label class="option-title" for="color">Color</label>
                    <input type="radio" name="color" id="color" value="rojo"><label for="color">Rojo</label>
                    <input type="radio" name="color" id="color" value="azul"><label for="color">Azul</label>
                    <input type="radio" name="color" id="color" value="amarillo"><label for="color">Amarillo</label>
                    <input type="radio" name="color" id="color" value="verde"><label for="color">Verde</label>
                </div>
            </form>
                
        </div>
        <div id="divider01v"></div>
    </div>
</main>